@import 'variables.css';

@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

*::-webkit-scrollbar {
  width: .6rem
}
 
*::-webkit-scrollbar-track {
  
}
 
*::-webkit-scrollbar-thumb {
  background: var(--color-dark-2);
  border-radius: .3rem
}

body {
  background: var(--color-dark-1);
  color: var(--color-light);
  font-family: var(--font-default)
}
