:root {
  --color-dark-1: #222831;
  --color-dark-2: #2D4059;
  --color-dark-2-rgb: 45, 64, 89;
  --color-accent: #ff5722;
  --color-light: #eee;
  --color-light-rgb: 238, 238, 238;

  --font-default: sans-serif
}
